body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.header__nav {
    display: flex;
    color:slategrey
}

.header__link {
    color: black;
    padding-right: 15px;
    text-decoration: none;
    font-weight: 600;

}

.header__link-active {
    color: goldenrod;

}

.header__link:hover {
    color: var(--bg-primary)
}